<h1 class="page-name">Merchant List</h1>
<%= link_to 'Add New Merchant', '/merchants/new', class: 'button new' %>

<div class="list-container">
  <% @merchants.each do |merchant| %>
    <h2><%= link_to merchant.name, "/merchants/#{merchant.id}", class: 'link list-merchant' %></h2>
  <% end %>
</div>
