form {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  width: 35%;
  margin: 0 auto;
  padding: 15px 50px;
}

.input {
  border: 1.5px solid #BDBDBD;
  border-radius: 5px;
  margin: 8px 0 20px;
  padding: 4px 0 4px 8px;
}

.input::placeholder {
  opacity: 0.5;
}

.input:hover {
  border: 1.5px solid #7C4DFF;
}

.input:focus {
  border: 1.5px solid #7C4DFF;
  background-color: #ede7f6;
  outline: none;
}