* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

h1 {
  color: #B73A5D;
  font-weight: bold;
  font-size: 400%;
  background-color: #DEDDE2;
  padding: 25px;
}

.card-container {
  display: grid;
  grid-template-columns: 90px 50px 120px;
}

.card {
  border: 1px solid black;
  background-color: darkcyan;
}
