.list-container {
  margin: 16px 0;
}

.list-merchant {
  padding: 16px 8px;
  display: block;
  border-bottom: 1px solid #7C4DFF;
}

.list-merchant:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 32px 8px;
  background-color: #ede7f6;
}