.nav-container {
  display: flex;
  background-color: #DEDDE2;
  opacity: 0.7;
  padding: 10px 0px;
  padding-left: 25px;
}

.link {
  text-decoration: none;
  color: #B73A5D;
  margin-right: 30px;
  font-size: 200%;
}